.container{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 500px;
    height: 500px;
    background-color: grey;
    border: 2px solid #000000;
    border-radius:35px;
    display: inline;
    align-items: center;
}

.top{
    display: flex;
    justify-content: center;
    background-color: #8fb45e;
    height: 49%;
    width: 100;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    background-color: #b1cac3;
    height: 49%;
    width: 100;
    border-radius: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin: 0 10px 30px 10px; */
}

.left{
    width: 49%;
    border-radius: 20px;
    background-color: aqua;
    margin: 10px 10px;
}

.right{
    width: 49%;
    border-radius: 20px;
    background-color: #0ed49f;
    margin: 10px 10px;
}

.main .ball{
    border-radius: 50%;
    background-color: #000000;
    width: 30px;
    height: 30px;
    transform: translateX(235px) translateY(-265px)
}
